*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 57.5%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 18.75em) {
  html {
    font-size: 35%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.secondary__heading {
  font-family: "Permanent Marker", cursive;
  font-size: 4.5rem;
  text-align: center;
}

.tertiary__heading {
  font-family: "Ubunto", sans-serif;
  font-size: 2.5rem;
}

.main__text {
  font-family: "Ubutnu", sans-serif;
  font-size: 1.8rem;
}

.center-align {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.margin-left-1rem {
  margin-left: 1rem !important;
}

.padding-1rem {
  padding: 1rem !important;
}

.active {
  display: block !important;
}

.sticky {
  position: fixed;
  margin-top: -6rem;
  opacity: 0.9;
  display: block;
}

.margin-bottom-small {
  margin-bottom: 2rem !important;
}

.margin-bottom-med {
  margin-bottom: 6rem !important;
}

.margin-bottom-big {
  margin-bottom: 10rem !important;
}

.margin-top-small {
  margin-top: 2rem !important;
}

.margin-top-med {
  margin-top: 6rem !important;
}

.margin-bottom-big {
  margin-top: 10rem !important;
}

.accordian__item {
  display: block;
}

.accordian__question {
  width: 100rem;
  height: 5rem;
  background-color: rgba(43, 188, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.accordian__question:hover {
  background-color: rgba(120, 211, 253, 0.5);
}

.accordian__answer {
  width: 100%;
  background-color: whitesmoke;
  display: none;
}

.button {
  font-family: "Roboto", sans-serif;
  background-color: white;
  border: none;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  height: 6rem;
}

.button:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
}

.button:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blue-button {
  background-color: #2bbcff !important;
  color: white !important;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin: 0rem 1rem;
}

.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.twitter {
  height: 7rem;
  width: 7rem;
  fill: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.twitter:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.twitter:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.discord {
  height: 7rem;
  width: 7rem;
  fill: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.discord:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.discord:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.section-about .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-about .about__heading {
  margin: 2rem 0rem;
}

.section-about .about__text {
  padding: 1rem;
}

.section-about .about__pic {
  padding: 1rem;
}

.section-about .about__image {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
}

.section-contact .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-contact .contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-contact .contact__heading {
  margin: 2rem 0rem;
}

.section-contact .contact__text {
  padding: 1rem;
}

.section-contact .contact__pic {
  padding: 1rem;
}

.section-contact .contact__image {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
}

.section-donations .donations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-donations .donations__heading {
  margin: 2rem 0rem;
}

.section-donations .donations__text {
  padding: 1rem;
}

.section-donations .donations__pic {
  padding: 1rem;
}

.section-donations .donations__image {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-1-of-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - 6rem) / 2);
          flex: 0 0 calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - (2 * 6rem)) / 3);
          flex: 0 0 calc((100% - (2 * 6rem)) / 3);
}

.col-2-of-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem);
          flex: 0 0 calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem);
}

.col-1-of-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - (3 * 6rem)) / 4);
          flex: 0 0 calc((100% - (3 * 6rem)) / 4);
}

.col-2-of-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem);
          flex: 0 0 calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem);
}

.col-3-of-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc( 3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem));
          flex: 0 0 calc( 3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem));
}

.section-menu {
  background-color: rgba(43, 188, 255, 0.8);
  width: 100%;
  padding: 0rem;
}

.section-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mint__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mint__heading {
  margin: 1rem 0rem;
}

.mint__text {
  padding: 1rem;
}

.mint__pic {
  padding: 1rem;
}

.mint__image {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
}

.mint__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-project .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-project .project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-project .project__heading {
  margin: 2rem 0rem;
}

.section-project .project__text {
  padding: 1rem;
}

.section-project .project__pic {
  padding: 1rem;
}

.section-project .project__image {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
}

.section-roadmap .roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-roadmap .roadmap__heading {
  margin: 2rem 0rem;
}

.section-roadmap .roadmap__text {
  padding: 1rem;
}

.section-roadmap .roadmap__pic {
  padding: 1rem;
}

.section-roadmap .roadmap__image {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=main.css.map */