// BASIC BUTTON

.button {
  font-family: "Ubutnu", sans-serif;
  background-color: transparent;
  border: none;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.4s;
  height: 6rem;
  color: white;

  @include respond(tab-port) {
    padding: 0.5rem 1.5rem;
  }
}

.button:hover {
  transform: translateY(-0.3rem);
  border-bottom: 0.2rem solid white;
}

.button:active {
  transform: translateY(0rem);
}

// BLUE BUTTON

.blue-button {
  background-color: $color-main-blue;
  color: white;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  height: 6rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
}
.blue-button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 1rem 2rem rgba(black, 0.5);
}
