.menu__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu__item {
  margin: 0rem 1rem;
}

.menu__links {
  display: flex;
  justify-content: space-evenly;

  @include respond(tab-land) {
    padding: 1.5rem 0rem 1rem 0rem;
    justify-content: center;
  }
}

.twitter {
  height: 6rem;
  width: 6rem;
  fill: black;
  transition: all 0.3s;
  @include respond(tab-land) {
    margin-right: 2rem;
  }
  @include respond(tab-port) {
    height: 5rem;
    width: 5rem;
  }
}
.twitter:hover {
  transform: translateY(-0.3rem);
}
.twitter:active {
  transform: translateY(0rem);
}

.discord {
  height: 6rem;
  width: 6rem;
  fill: black;
  transition: all 0.3s;
  @include respond(tab-port) {
    height: 5rem;
    width: 5rem;
  }
}
.discord:hover {
  transform: translateY(-0.3rem);
}
.discord:active {
  transform: translateY(0rem);
}
