.secondary__heading {
  font-family: "Luckiest Guy", cursive;
  font-size: 4.5rem;
  text-align: center;
}
.tertiary__heading {
  font-family: "Ubunto", sans-serif;
  font-size: 2.5rem;
}

.main__text {
  font-family: "Ubutnu", sans-serif;
  font-size: 1.8rem;
}
