.section-mint {
  background-image: url("../Images/stock-image.jpg");
  background-position: center;
}

.mint {
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__heading {
    margin: 1rem 0rem;
  }

  &__text {
    padding: 1rem;
  }

  &__pic {
    padding: 1rem;
  }

  &__image {
    height: 100%;
    width: 100%;
    box-shadow: $image-box-shadow;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
  }
}
