.section-menu {
  background-color: rgba($color-main-blue, 0.8);
  width: 100%;
  padding: 0rem;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
    }

    &__navigation {
    }
  }
}
