.section-menu {
  background-color: rgba($color-main-blue, 0.8);
  width: 100%;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-land) {
      display: block;
    }

    &__title {
      @include respond(tab-land) {
        padding: 1.5rem 0rem;
      }
    }

    &__navigation {
      @include respond(tab-land) {
        display: flex;
        justify-content: center;
      }
    }
  }
}
