.section-roadmap {
  .roadmap {
    display: flex;
    align-items: center;

    &__heading {
      margin: 2rem 0rem;
    }

    &__text {
      padding: 1rem;
    }

    &__pic {
      padding: 1rem;
    }

    &__image {
      height: 100%;
      width: 100%;
      box-shadow: $image-box-shadow;
    }
  }
}
